altgraph @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.10.0
argostranslate==1.11.0
argostranslategui==1.6.5
bidict==0.23.1
blinker==1.9.0
blis==1.3.3
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
cloudpathlib==0.23.0
coloredlogs==15.0.1
confection==0.1.5
ctranslate2==4.7.1
cymem==2.0.13
distro==1.9.0
emoji==2.15.0
exceptiongroup==1.3.0
fastapi==0.128.8
filelock==3.19.1
Flask==3.1.0
Flask-SocketIO==5.5.1
flatbuffers==25.12.19
fsspec==2025.10.0
future @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
google-ai-generativelanguage==0.6.5
google-api-core==2.25.1
google-api-python-client==2.179.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.7.0
googleapis-common-protos==1.70.0
grpcio==1.74.0
grpcio-status==1.62.3
h11==0.16.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.7.1
httpx==0.28.1
humanfriendly==10.0
idna==3.10
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.3
macholib @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
minisbd==0.9.3
MouseInfo==0.1.3
mpmath==1.3.0
murmurhash==1.0.15
networkx==3.2.1
numpy==2.0.2
onnxruntime==1.19.2
openai==1.61.0
packaging==26.0
pillow==11.1.0
preshed==3.0.12
proto-plus==1.26.1
protobuf==4.25.8
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pydantic==2.11.7
pydantic_core==2.33.2
PyGetWindow==0.0.9
Pygments==2.19.2
PyMsgBox==1.0.9
pyobjc-core==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-Quartz==11.1
pyparsing==3.2.3
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.17.1
PyRect==0.2.0
PyScreeze==1.0.1
python-dotenv==1.2.1
python-engineio==4.11.2
python-socketio==5.12.1
pytweening==1.2.0
PyYAML==6.0.3
regex==2026.1.15
requests==2.32.3
rich==14.3.3
rsa==4.9.1
rubicon-objc==0.5.2
sacremoses==0.1.1
sentencepiece==0.2.1
shellingham==1.5.4
simple-websocket==1.1.0
six @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
smart_open==7.5.0
sniffio==1.3.1
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.2
stanza==1.10.1
starlette==0.49.3
sympy==1.14.0
thinc==8.3.9
tomli==2.4.0
torch==2.8.0
tqdm==4.67.1
typer==0.23.2
typer-slim==0.23.2
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.39.0
uvloop==0.22.1
wasabi==1.1.3
watchfiles==1.1.1
weasel==0.4.3
websockets==15.0.1
Werkzeug==3.1.3
wrapt==2.1.1
wsproto==1.2.0
zipp==3.23.0
openai>=1.0.0,<2.0.0